<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Fraud Detection Model</title>
  <meta name="description" content="Model for prediction ticket sales fraud">
  <meta name="author" content="Team Shrug">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">

</head>

<body>
<div class="container">
    <center>
    <h1>Ecclesia</h1>

    <div class="row">
        <p>Placeholder</p>
    </div>
    </center>

    <div class="row">

    </div>

    <div class="row">
        <p font-size=18px> For technical details of the model, please click
        <a href='/model_characterization'>here</a>. </p>
    </div>

    <div class="row">
        <p><img src='/static/images/roc_curve.png'></p>
    </div>

</div>
</body>
</html>
