<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ecclesia - examining gerrymandering in Wisconsin</title>
  <meta name="description" content="Analyzing current and modelled districts">
  <meta name="author" content="Patrick Mende">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">


    <script>
      var map;
      function initMap() {
        var mapDiv = document.getElementById('map');
        var empty_style = [{
            featureType: "all",
            stylers: [
              { visibility: "off" }
            ]
        }];
        var data_style = [{
          fillColor: 'red',
          strokeWeight: 1,
          clickable: true
        }];

        var c_wisconsin = {lat: 44.6397, lng: -90.01772};
        var min_zoom = 7;

        map = new google.maps.Map(mapDiv, {
          backgroundColor: '#FFFFFF',
          center: c_wisconsin,
          zoom: min_zoom,
          mapTypeControl: false,
          scaleControl: false,
          streetViewControl: false,
          zoomControl: false,
          minZoom: min_zoom,
          maxZoom: 10,
          keyboardShortcuts: false,
          disableDoubleClickZoom: true,
          draggable: false
        });

        // Bounds for Wisconsin
        var strictBounds = new google.maps.LatLngBounds(
          new google.maps.LatLng(42.4919, -92.8894),
          new google.maps.LatLng(47.0808, -86.763)
        );

        // Listen for the dragend event
        google.maps.event.addListener(map, 'dragend', function() {
          if (strictBounds.contains(map.getCenter())) return;

          // We're out of bounds - Move the map back within the bounds
          var c = map.getCenter(),
            x = c.lng(),
            y = c.lat(),
            maxX = strictBounds.getNorthEast().lng(),
            maxY = strictBounds.getNorthEast().lat(),
            minX = strictBounds.getSouthWest().lng(),
            minY = strictBounds.getSouthWest().lat();
          var limit_padding = 0.5

          if (x < minX) x = minX + limit_padding;
          if (x > maxX) x = maxX - limit_padding;
          if (y < minY) y = minY + limit_padding;
          if (y > maxY) y = maxY - limit_padding;

          map.setCenter(new google.maps.LatLng(y, x));
        });

        // move to center on double click
        google.maps.event.addListener(map, 'dblclick', function() {
          map.setCenter(c_wisconsin);
        });

        // on zoom out event to min zoom, reset center
        google.maps.event.addListener(map, 'zoom_changed', function() {
          var zoom_level = map.getZoom();
          if (zoom_level == min_zoom) {
            map.setCenter(c_wisconsin);
          }
        });

        // on zoom change event to min zoom, reset center
        google.maps.event.addListener(map, 'dragend', function() {
          var zoom_level = map.getZoom();
          if (zoom_level == min_zoom) {
            map.setCenter(c_wisconsin)
          }
        });

        // on zoom change event to min zoom, set draggable
        google.maps.event.addListener(map, 'zoom_changed', function() {
          map.setOptions({
            draggable : map.getZoom() > min_zoom
          });
        })

        map.data.setStyle(data_style);
        map.data.loadGeoJson("{{kmeans_geojson}}");
        map.setOptions({styles: empty_style});
      }
    </script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 750px;
        width: 750px;
        margin-left: auto;
        margin-right: auto;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

</head>

<body>

  <div class="container">
    <center>
    <h1>Ecclesia</h1>

    <div class="row">
      <div id="map"></div>
      <script src={{maplink}} async="" defer=""></script>
    </div>
    </center>

    <div class="row">
        <p font-size=18px> For technical details of the model, please click
        <a href='/model_characterization'>here</a>. </p>
    </div>
  </div>
</body>
</html>
