<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Ecclesia - examining gerrymandering in Wisconsin</title>
  <meta name="description" content="Analyzing current and modelled districts">
  <meta name="author" content="Patrick Mende">

    <script type="text/javascript"
            src="{{ url_for('static', filename='jquery.js') }}">
    </script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='app.js') }}">
    </script>

    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">


    <script>
      var map;
      function initMap() {
        var mapDiv = document.getElementById('map');
        map = new google.maps.Map(mapDiv, {
            backgroundColor: '#FFFFFF',
            center: {lat: 44.437778, lng: -90.130186},
            zoom: 6,
            mapTypeControl: false,
            scaleControl: false,
            streetViewControl: false,
            zoomControl: false,
            minZoom: 6,
            maxZoom: 9,
            keyboardShortcuts: false
        });
        map.data.setStyle({
          icon: {
            path: google.maps.SymbolPath.CIRCLE,
            fillColor: 'blue',
            fillOpacity: 0.7,
            scale: 3,
            strokeWeight: 0,
          },
          strokeColor: 'purple',
          strokeOpacity: 0.5,
        });
        var empty_style = [
          {
            featureType: "all",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        var styles = [
          {
            stylers: [
              { hue: "#DBA" },
              { saturation: -80 }
            ]
          },{
            featureType: "road",
            elementType: "geometry",
            stylers: [
              { visibility: "off" }
            ]
          },{
            featureType: "road",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          },{
            featureType: "administrative",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          },{
            featureType: "poi",
            stylers: [
              { visibility: "off" }
            ]
          },{
            featureType: "transit",
            stylers: [
              { visibility: "off" }
            ]
          },{
            featureType: "all",
            elementType: "labels",
            stylers: [
              { visibility: "off" }
            ]
          }
        ];
        map.setOptions({styles: empty_style});
      }
    </script>

    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 500px;
        width: 500px;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>

</head>

<body>
  <div id="map"></div>
  <script src={{maplink}} async="" defer=""></script>
  <div class="container">
    <center>
    <h1>Ecclesia</h1>

    <div class="row">
      Test
    </div>
    </center>

    <div class="row">
        <p font-size=18px> For technical details of the model, please click
        <a href='/model_characterization'>here</a>. </p>
    </div>
  </div>
</body>
</html>
